/*GENERAL*/

/*FØRSTE SEKTION*/
#billede_1 /*class: img_erhverv*/ {
  display: grid;
  /*   max-width: 100%;
  height: 60%; */
}

/*ANDEN SEKTION, DISCOVER (VENT PÅ YVONNE'S KODE)*/

#grid_discover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border: 30px;
  border-radius: 10px;
  margin: 1rem;
}

#grid_discover img {
  padding: 1rem;
}

/*TREDJE SEKTION, STORT BILLEDE M. NYE PRODUKTER. 
LAV TEKST OVER BILLEDE*/

#grid_nye_produkter img {
  display: grid;
  max-width: 100%;
  height: 75%;
}

/*FJERDE SEKTION, INSPIRATION*/

#grid_inspiration {
  display: flex;
  flex-direction: columns;
  /* grid-template-columns: 1fr 1fr 1fr; */
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

#grid_inspiration img {
  height: 300px;
  width: 300px;
  padding: 1rem;
}

.grid_tekst h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.grid_tekst p {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*TEKST OVENPÅ EKSEMPEL*/

#grid_nye_produkter {
  position: relative; /* gør det muligt at placere tekst relativt til containeren */
  width: 100%;
}

#grid_nye_produkter img {
  display: block; /* fjerner uønsket whitespace */
  max-width: 100%;
  height: 80%;
}

.tekst_ovenpå {
  position: absolute;
  top: 20%; /* centrerer vertikalt */
  left: 85%; /* centrerer horisontalt */
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background-color: rgb(176, 220, 157);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* gør teksten mere læsbar */
  padding: 2rem 2rem 4rem 2rem;
  width: 25%;
  height: 40%;
}

.button {
  border-radius: 10px;
  border: bolder;
  background-color: antiquewhite;
  opacity: 70%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: small;
}

.button a {
  color: black;
}

button:hover {
  background-color: rgba(18, 72, 11, 0.719);
}

/*FEMTE SEKTION, BILLEDE 5*/

#billede_5 img {
  max-width: 100%;
  height: 50%;
}
