:root {
  /* colors */
  --the-white: #fffef2; /* background */
  --the-grey: #f6f5e8;
  --the-green: #acb4a0;
  --the-brown: #372b2b;
  --the-black: #181414;
  --the-red: #8a0f0f;

  /* font */
  --font: "helvetica neue", arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-style-italic: italic;

  /* font size */
  --h1-size: 2.25rem;
  --h2-size: 1.25rem;
  --h3-size: 1.5rem;
  --h4-size: 1rem;
  --h5-size: 0.75rem;
  --p-size: 1rem;
}
